/* General */
html{
    scroll-behavior: smooth;
  }
  
  body{
      font-family: 'DM Sans', sans-serif;
      background:#0c0b09;;
      color: #fff;
      margin-top: -16px;
      overflow-x:hidden;
  
  }
  
  a {
      color: #cda45e;
      text-decoration: none;
    }
    
    a:hover {
      color: white;
      text-decoration: none;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'DM Sans', sans-serif;
    }
  
  /* navbar */
  .logo{
      width: 50px;
      border-radius: 50%;
  }
  
  .nav-item{
      margin-left: auto;
      margin-right: 20px;
  }
  
  .navbar{
    background: rgba(12, 11, 9, 0.6);
  }
  
  .navbar a:current{
    color: #cda45e;
  }
  
  
  
  /* Home */
  #home {
    width: 100%;
    height: 100vh;
    background: url("Assets/Image/bg2.jpg") top center;
    background-size: cover;
    position: relative;
    padding: 0;
    background-blend-mode: multiply;
    background-color: grey;
    padding:0;
  }
  
  #home h1{
    font-weight: bolder;
    margin-left:0;
    padding-left:0;
    font-size: 60px;
    text-shadow: 2px 2px 4px #000000;
  }
  
  #home h2{
    font-style: italic;
    font-weight: 300;
    font-size: 30px;
    color: #cda45e;
    margin-left: 0;
    padding-left: 0;
    text-shadow: 2px 2px 4px #000000;
   
  }
  
  .order-btn{
    color: white;
    width: 100px;
    background-color: #cda45e;
    border-radius: 12px;
    padding: 8px 14px;
    text-align: center;
    border:none;
    margin-top: 10px;
    box-shadow: 1px 2px 5px #000000;   
  }
  
  .order-btn:hover{
    background-color:#a16e15;
    transform: scale(1.1);
  }
  
  
  /* ABOUT */
  #about{
    width: 100%;
    height: 100vh;
    background: url("Assets/Image/bg-about.jpg") top center ;
    background-size: cover;
    position: relative;
    padding: 0;
    background-blend-mode: multiply;
    background-color:rgba(0, 0, 0, 0.819);
    padding:0;
  
  }
  
  #about .row{
   margin-top: 50px;
    
  }
  
  #about .about-text{
    text-align: justify;
    
  }
  
  
  
  
  /* MENU */
  #menu{
    width: 100%;
    background-color: rgb(40, 37, 30);
    background-size: cover;
    position: relative;
    padding-bottom: 20px;
    align-items: center;
    text-align: center;
  }
  
  .menu-title{
    margin-top: 100px;
    margin-bottom: 30px;
  }
  
  /* flipcard */
  .flip-card {
      background-color: transparent;
      width: 300px;
      height: 200px;
      perspective: 1000px; /* Remove this if you don't want the 3D effect */
      display: block;
      margin: auto;
      margin-top: 40px;
    }
    
    /* This container is needed to position the front and back side */
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    
    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
    
    /* Position the front and back side */
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }
    
    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
      background-color: #bbb;
      color: black;
    }
    
    /* Style the back side */
    .flip-card-back {
      background-color:#cda45e;
      color: white;
      transform: rotateY(180deg);
      padding: 5px;
      padding-top: 20px;
    }
  
  
    /* EVENT */
    #event{
      background: url(Assets/Image/bg-event.jpg);
      width: 100%;
      background-size: cover;
      position: relative;
      padding: 0;
      background-blend-mode: multiply;
      background-color: rgb(42, 41, 41);
      padding:0;
    }
  
  
    .event-title{
      text-align: center;
      padding-top: 100px;
      margin-bottom: 80px;
      
    }
  
    .carousel{
      width: 400px;
      display: block;
      margin: auto;
      margin-bottom: 50px;
     
    }
  
    .carousel .carousel-item {
      width: 400px;
      height: 300px;
    }
    
    .carousel-item img {
        width: 400px;
        height: 300px;
       
    }
  
    .carousel-item video{
      width: 100%;
      height: 100%;
    }
  
    .cooking-text{
      padding-left: 80px;
      padding-right: 80px;
      text-align:  justify;
      margin-right: 100px;
  
      
    }
  
    .meeting-text{
      padding-left: 80px;
      padding-right: 80px;
      text-align:  justify;
      margin-left: 100px;
      
    }
  
    .cooking-carousel{
     margin-left: auto;
     
    }
  
    /* BOOKING */
    #booking{
      align-items: center;
      
    }
   
  /*  */
  